# Database - PostgreSQL (Supabase ou local)
DATABASE_URL="postgresql://postgres:password@localhost:5432/petcode?schema=public"

# JWT - Chave secreta para token (mude em produção!)
JWT_SECRET="sua-chave-secreta-aqui-mude-em-producao-minimo-32-caracteres"

# Server
PORT=3333
NODE_ENV=development